.blog {
	padding-bottom: 197px;
	@include m1024() {
		padding-bottom: 100px;
	}
	@include m768() {
		padding-bottom: 50px;
	}
}

.blog__header {
	text-align: center;
	margin-bottom: 229px;
	@include m1024() {
		margin-bottom: 80px;
	}
	@include m425() {
		margin-bottom: 35px;
	}
}

.blog-slider {
	height: 800px;
	background-image: linear-gradient(rgba(36, 33, 33, 0.5)),
		url(./../../img/slider/slider-bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.blog-slider .container {
	display: flex;
	justify-content: end;
	align-items: center;
	height: 800px;
	@include m768() {
		justify-content: center;
		align-items: flex-end;
		padding-bottom: 100px;
	}
}

.swiper-slide__content {
	max-width: 713px;
	padding-bottom: 31px;
	padding-right: 15px;
}
.slide-title {
	font-size: 48px;
	font-weight: 400;
	color: #fff;
	line-height: 1.16667;
	@include m768() {
		font-size: 35px;
	}
	@include m425() {
		font-size: 23px;
	}
}
.slide-text {
	line-height: 1.28571;
	color: #fff;
}
