.contacts {
	padding-bottom: 200px;
	@include m768() {
		padding-bottom: 70px;
	}
}

.contacts__header {
	text-align: center;
	margin-bottom: 236px;
	@include m768() {
		margin-bottom: 60px;
	}
}

.contacts-content {
	display: flex;
	gap: 13px;
	margin-bottom: 204px;
	@include m1280() {
		flex-direction: column;
		align-items: center;
		gap: 50px;
	}
	@include m768() {
		max-width: 100%;
		margin-bottom: 60px;
	}
}

.form {
	width: 570px;
	@include m768() {
		width: 100%;
	}
}

.form__wrapper {
	@include m1280() {
		display: flex;
		text-align: center;
	}
}
.form__inputs {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	margin-bottom: 47px;
}

.form-textarea {
	padding-bottom: 100px;
	resize: none;
	overflow: hidden;
	margin-bottom: 73px;
	&::placeholder {
		max-width: 260px;
	}
}

.form-btn {
	padding: 25px 114px;
	border: 1px solid #c4c4c4;
	transition: background-color 0.3s ease-in, color 0.3s ease-in;
	&:hover {
		color: #fff;
		background-color: var(--accent);
	}
	@include m375() {
		padding: 20px 60px;
	}
}
.contacts-address {
	padding: 60px 200px 71px 69px;
	background-color: var(--page-secondary);
	font-weight: 400;
	font-size: 24px;
	line-height: 1.25;
	@include m768() {
		padding: 29px 24px 32px 15px;
	}
	@include m425() {
		font-size: 15px;
	}
}

.address {
	display: flex;
	flex-direction: column;
	gap: 65px;
}

.contacts-address__link {
	transition: color 0.2s ease-in;
	&:hover {
		color: #00b2a0;
	}
}

.social {
	display: flex;
	justify-content: center;
}
.social-links {
	display: flex;
	gap: 10px;
}
.social__link {
	font-weight: 400;
	font-size: 24px;
	line-height: 0.75;
	text-transform: uppercase;
	transition: color 0.2s ease-in;
	&:hover {
		color: #00b2a0;
	}
	@include m425() {
		font-size: 20px;
	}
}
