.header {
	position: relative;
	padding-block: 35px 92px;
	background-image: linear-gradient(
			180deg,
			#01353e 0%,
			rgba(51, 51, 51, 0.6) 20%,
			rgba(51, 51, 51, 0.22) 30%,
			rgba(51, 51, 51, 0) 50%
		),
		url('./../../img/hero/main-bg.webp');
	background-position: center bottom;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;

	@include mediaBg() {
		background-image: url('./../../img/hero/main-bg@2x.webp');
	}
}

.header__row {
	display: flex;
	align-items: center;
	margin-bottom: 242px;
	@include m1024() {
		display: flex;
		justify-content: space-between;
	}
	@include m768() {
		margin-bottom: 170px;
	}
}

.header__title {
	padding-left: 64px;
	text-align: center;
	@include m1024() {
		padding-left: 0;
	}
}

.header__text {
	padding-left: 24px;
	text-align: center;
	font-weight: 400;
	font-size: 24px;
	color: #000;
	letter-spacing: 0.03em;
	@include m768() {
		padding-left: 0;
	}
}

.header__decor {
	position: absolute;
	bottom: 133px;
	left: 50%;
	text-align: center;
}
