.h1 {
	font-family: var(--font-titles);
	font-weight: 700;
	font-size: 200px;
	color: var(--main-title-color);
	@include m768() {
		font-size: 120px;
	}
	@include m425() {
		font-size: 90px;
	}
}

.h2 {
	display: inline-block;
	font-family: var(--font-titles);
	font-weight: 600;
	font-size: 48px;
	color: var(--accent);
	letter-spacing: 0.01em;
	@include m1024() {
		font-size: 35px;
	}
	@include m768() {
		font-size: 25px;
	}
	@include m425() {
		font-size: 15px;
	}
}

.subtitle--decor {
	position: relative;
}
.subtitle--decor::after {
	position: absolute;
	content: '';
	right: -48px;
	bottom: -46px;
	width: 48px;
	height: 85px;
	background-image: url(./../../img/decor/line-decor.webp);
	background-repeat: no-repeat;
}

.h3 {
	font-size: 64px;
	font-weight: 700;
	color: var(--accent);
}

.title-4 {
	margin: 1em 0 0.5em;
	font-size: 18px;
	font-weight: 700;
	font-family: var(--font-titles);
}
